@font-face{
    font-family:viking ;
    src: url('VIKING-N.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
}
*{
    margin:0;
    padding: 0;
}
body{
    font-family: viking;
    

}

#camelotimagem{
    background-image: url('Camelot.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    height: 50vw;
    border: 1px solid red ;

    

}


#botaologin{
    cursor: pointer;
    margin: 10px 10px 0px 0px;
    padding: 0px;


}
#botaologin img{
    height: 40px;
    }

nav.superior{ 
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.camelotnome{
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    top:35%;

}
.camelotnome span {
    padding: 18px;
    font-size: 10px;
    letter-spacing: 10px;
    background-color:rgba(111, 111, 111, 0.3)
    
}
.camelotnome span a{
    color: black;
    list-style-type: none;
    text-decoration: none;

}


.cabeçalhoinicial li{ 
    list-style-type: none;
    margin: 0px;    

}
.cabeçalhoinicial li a{
    width: 100px;
    background-color:rgba(111, 111, 111, 0.3);
    text-transform: uppercase;
    display: inline-block;
    color: black;
    font-size: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;}
#menu{
    margin-left: 10px;
}
    
   
    
.cabeçalhoinicial li a:hover{
    background-color: aqua;
}


.cabeçalhoinicial ul{
    display: none;
    position: absolute;
}
.cabeçalhoinicial li:hover ul{
    display: block;
}
ul.submenu li a{
    padding: 10px;
}
.submenu{
    list-style-type: none;
    text-decoration: none;
}
