header div h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.container{margin-top: 100px;


    
}
.imagem{
    display: block;
    text-align: right;
}
.imagem img{
    height: 50px;
    width: 60px;
}
.col-lg-12 {
    border: 1px solid red;
}
.formatação{
    background-color: black;
    color: white;
    font-size: 20px;
}
.ak{
    margin:20px 0px 20px 0;
}